.bt{color: #eff5f8;
    font-size:10pt;
    border: 0px solid #eff5f8;
    background-color:white;
    border-radius:20px;
    color:#17577a;
    padding-bottom:1px;
    padding-left:5px;
    padding-top:1px;
    padding-right:5px;
    margin-top:10px;
    margin-bottom:5px;}